@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,600");

/* ================================
   FULL SCREEN LOADER WRAPPER
================================ */
.loader-wrapper {
  position: fixed;
  inset: 0;
  z-index: 9999;

  background-color: rgba(255, 255, 255, 0.926);

  display: flex;
  align-items: center;
  justify-content: center;

  overflow: hidden;
  pointer-events: all;

  /* smooth entry */
  opacity: 0;
  animation: loaderFadeIn 0.4s ease forwards;
}

/* Smooth exit */
.loader-wrapper.fade-out {
  animation: loaderFadeOut 0.5s ease forwards;
}

/* ================================
   LOADER TEXT
================================ */
.loader-wrapper h1 {
  position: absolute;
  top: 58%;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 12px;
  text-transform: uppercase;
  color: #000;
  letter-spacing: 2px;
}

/* ================================
   SPEEDER BODY
================================ */
.loader-wrapper .body {
  position: relative;
  transform: translateX(-50px);
  animation: speeder 0.4s linear infinite;
}

.loader-wrapper .body > span {
  height: 5px;
  width: 35px;
  background: #000;
  position: absolute;
  top: -19px;
  left: 60px;
  border-radius: 2px 10px 1px 0;
}

/* ================================
   BASE
================================ */
.loader-wrapper .base span {
  position: absolute;
  width: 0;
  height: 0;
  border-top: 6px solid transparent;
  border-right: 100px solid #000;
  border-bottom: 6px solid transparent;
}

.loader-wrapper .base span::before {
  content: "";
  height: 22px;
  width: 22px;
  border-radius: 50%;
  background: #000;
  position: absolute;
  right: -110px;
  top: -16px;
}

.loader-wrapper .base span::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-top: 0 solid transparent;
  border-right: 55px solid #000;
  border-bottom: 16px solid transparent;
  top: -16px;
  right: -98px;
}

/* ================================
   FACE
================================ */
.loader-wrapper .face {
  position: absolute;
  height: 12px;
  width: 20px;
  background: #000;
  border-radius: 20px 20px 0 0;
  transform: rotate(-40deg);
  right: -125px;
  top: -15px;
}

.loader-wrapper .face::after {
  content: "";
  height: 12px;
  width: 12px;
  background: #000;
  right: 4px;
  top: 7px;
  position: absolute;
  transform: rotate(40deg);
  border-radius: 0 0 0 2px;
}

/* ================================
   SPEED LINES
================================ */
.loader-wrapper .body > span > span {
  width: 30px;
  height: 1px;
  background: #000;
  position: absolute;
}

.loader-wrapper .body > span > span:nth-child(1) {
  animation: fazer1 0.2s linear infinite;
}
.loader-wrapper .body > span > span:nth-child(2) {
  top: 3px;
  animation: fazer2 0.4s linear infinite;
}
.loader-wrapper .body > span > span:nth-child(3) {
  top: 1px;
  animation: fazer3 0.4s linear infinite;
  animation-delay: -1s;
}
.loader-wrapper .body > span > span:nth-child(4) {
  top: 4px;
  animation: fazer4 1s linear infinite;
  animation-delay: -1s;
}

/* ================================
   LONG BACKGROUND LINES
================================ */
.loader-wrapper .longfazers {
  position: absolute;
  width: 100%;
  height: 100%;
}

.loader-wrapper .longfazers span {
  position: absolute;
  height: 2px;
  width: 20%;
  background: #000;
}

.loader-wrapper .longfazers span:nth-child(1) {
  top: 20%;
  animation: lf 0.6s linear infinite;
}
.loader-wrapper .longfazers span:nth-child(2) {
  top: 40%;
  animation: lf2 0.8s linear infinite;
}
.loader-wrapper .longfazers span:nth-child(3) {
  top: 60%;
  animation: lf3 0.6s linear infinite;
}
.loader-wrapper .longfazers span:nth-child(4) {
  top: 80%;
  animation: lf4 0.5s linear infinite;
}

/* ================================
   ANIMATIONS
================================ */
@keyframes loaderFadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes loaderFadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes fazer1 {
  to {
    left: -80px;
    opacity: 0;
  }
}
@keyframes fazer2 {
  to {
    left: -100px;
    opacity: 0;
  }
}
@keyframes fazer3 {
  to {
    left: -50px;
    opacity: 0;
  }
}
@keyframes fazer4 {
  to {
    left: -150px;
    opacity: 0;
  }
}

@keyframes speeder {
  0% {
    transform: translate(-48px, 1px) rotate(0deg);
  }
  50% {
    transform: translate(-51px, 3px) rotate(-1deg);
  }
  100% {
    transform: translate(-49px, -2px) rotate(-1deg);
  }
}

@keyframes lf {
  to {
    left: -200%;
    opacity: 0;
  }
}
@keyframes lf2 {
  to {
    left: -200%;
    opacity: 0;
  }
}
@keyframes lf3 {
  to {
    left: -100%;
    opacity: 0;
  }
}
@keyframes lf4 {
  to {
    left: -100%;
    opacity: 0;
  }
}
